#navbar{
  background: -webkit-linear-gradient(#252525, #0a0a0a);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  display: block;
  float: left;
  width: 100%;
  height:40px;
}
#img{
  height: auto;
  display: block;
  width: 100%;
}

.NavButton{
  color: #eee;
  display: block;
  line-height: 3.333em;
  padding: 0 1.2125em;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  font: 15px "Helvetica Neue",Helvetica,Arial,sans-serif;

  margin-top: 10px;
  margin-bottom: 10px;
}
